body {
  background: white;
  color: white;
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  width: 220px;
  background: whitesmoke;
  padding: 20px;
  height: 100vh;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 10px;
  color: gray;
  margin-bottom: 20px;
}

.menu {
  list-style: none;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 8px 0;
  cursor: pointer;
  color: gray   ;
}

.menu li.active {
  color: white;
}

.storage {
  bottom: 20px;
  font-size: 12px;
  color: gray;
}

.main {
  flex: 1;
  padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.topbar a {
  color: #4a6cff;
  text-decoration: none;
}

.top-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.upload-btn {
  background: #4a6cff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-image {
  width: 140px;
  height: 140px;
}

.hero-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.hero-text h2 {
  font-size: 22px;
}

.hero-text p {
  color: #aaa;
}